<!DOCTYPE html> 
    <style>
        body{ 
          font-size: 15pt;
          font-family: arial;
        }
      </style>
    
  <body>
  <form style="display: inline-block;" action="/transactions_history" method="post">
    <input type="submit" value="Transactions History" onclick="document.getElementById('transactions_history').style.display='block'">
  </form>
  
  <div id="transactions_history" style="display:none">
    {% if transaction_data %}
    <table border="1">
      <tr>
        <th>Transaction ID</th>
        <th>Date of Transaction</th>
        <th>Amount</th>
        <th>Location</th>
        <th>Purpose</th>
        <th>AccountID</th>
        <th>Type</th>

      </tr>
      {% for row in transaction_data %}
      <tr>
        <td>{{ row.transactionid }}</td>
        <td>{{ row.dateoftransaction }}</td>
        <td>{{ row.amount }}</td>
        <td>{{ row.location }}</td> 
        <td>{{ row.purpose }}</td>
        <td>{{ row.accountid }}</td>
        <td>{{ row.type }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>

  </body>
</html>
