<html> 
    <style>
        body{ 
          font-size: 15pt;
          font-family: arial;
        }
      </style>
    
    
    <body>
        <h2>Savings Account</h2> 
        <form action="/budgetTracker/account_tracking" method="post">
          <input type="submit" value="Submit">
        </form>
        <h2>Checkings Account</h2>
        #access information from the checkings_account table in database 
        <h2>Dining Plan</h2> 
        #access information from the dining_plan table in database
    </body>
</html>
