<!DOCTYPE html> 
    <style>
        body{ 
          font-size: 15pt;
          font-family: arial;
        }
      </style>
    
  <body style="background-color:#87CEEB;">

  <nav>
      <ul>
          <a href="user_profile.html">Back to user page</a>
      </ul>
  </nav>

  <h1>Account Tracking</h1>
  <form style="display: inline-block;" id="transactionsForm" method="post">
    <input type="submit" value="Transactions History" onclick="toggleTransactionsData()">
  </form>
    
  <div id="transactions_data" style="display:none">

    <table border="1">
      <tr>
        <th>Transaction ID</th>
        <th>Date of Transaction</th>
        <th>Amount</th>
        <th>Location</th>
        <th>Purpose</th>
        <th>AccountID</th>
        <th>Type</th>

      </tr>
      <tr>
        <td>{{ dict['transactionid']}}</td>
        <td>{{ dict ['dateoftransaction'] }}</td>
        <td>{{ dict['amount'] }}</td>
        <td>{{ dict['location'] }}</td> 
        <td>{{ dict['purpose'] }}</td>
        <td>{{ dict['accountid'] }}</td>
        <td>{{ dict['typ'] }}</td>
      </tr>

    </table>
    
  </div>
    <script>
      function toggleTransactionsData() {
        var transactionsData = document.getElementById('transactions_data');
        transactionsData.style.display = transactionsData.style.display === 'none' ? 'block' : 'none';
        
        // Prevent the default form submission behavior
        event.preventDefault();
      }
    </script>
  
  </body>
</html>
