<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome To Budget Tracker!</h1>
  <p>This is a simple budget tracker app that tracks your transactions and account balances.</p>
  <img src="budget.jpg" alt="background pic" width="300" height="200" style="border: 1px solid black;">
    <form action="/budgetTracker" method="get">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">

      <label for="password">Password:</label>
      <input type="password" id="password" name="password">

      <button type="button" onclick="submitForm()">Submit</button>
    </form>  
  <nav>
        <ul>
            <li><a href="user_profile.html">User Profile</a></li> 
            <li><a href="account_tracking.html"> Accounts </a></li>
        </ul>
    </nav>

</body>


</html>
