<!DOCTYPE html> 
    <style>
        body{ 
          font-size: 15pt;
          font-family: arial;
        }
      </style>
    
    <nav>
        <ul>
            <a href="user_profile.html">Back to user page</a>
        </ul>
    </nav>

  <body style="background-color:#87CEEB;">
     <h1>Checkings Account</h1>
        <table border="1">
            <tr>
                <th>AccountID</th>
                <th>Balance</th>
            </tr>
                <tr>
                    <td>{{ info['accountid'] }}</td>
                    <td>{{ info['balance'] }}</td>
                </tr>
        </table>
  </body>
</html>
