<!DOCTYPE html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
<head>
  <title>Budget Tracker Website</title>
</head>

<body>
  <h1>Welcome To Budget Tracker!</h1>
  <p>This is a simple budget tracker app that tracks your transactions and account balances.</p>
  <div>
    
  <p>Click on Login to login into your existing account</p>
  <button type="button" onclick="window.location.href = 'login.html'">Login</button>

  <p>Click here if you do not already have an account</p>
  <button type="button" onclick="window.location.href = 'create.html'">Create Account</button>
    
  </div>
  
 <nav>
     <li><a href="user_profile.html"> User profile</a></li>
     <li><a href="account_tracking.html"> accounts </a></li>
 </nav>
</body>

</html>
