<!DOCTYPE html> 
    <style>
        body{ 
          font-size: 15pt;
          font-family: arial;
        }
      </style>
    
  <body>
     <h1>Meal Plan Account</h1>
        <div id="meal_plan" style="display:none">
            <table border="1">
                <tr>
                    <th>{{ Swipes }}</th>
                    <th>{{ Dinning Dollars }}</th>
                    <th>{{ Points }}</th>
                    <th>{{Flex}}</th>
                </tr>
                    <tr>
                    <th>{{dict['swipes']}}</th>
                    <th>{{ dict ['dinning_dollars']}}</th>
                    <th>{{dict ['points']}}</th>
                    <th>{{dict ['flex']}}</th>
                    </tr>
            </table>
        </div>
  </body>
</html>
