<!DOCTYPE html> 
    <style>
        body{ 
          font-size: 15pt;
          font-family: arial;
        }
      </style>
    
  <body style="background-color:#87CEEB;">

    <nav>
      <ul>
          <a href="user_profile.html">Back to user page</a>
      </ul>
  </nav>
  
     <h1>Meal Plan Account</h1>
        <table border="1">
            <tr>
                <th> SchoolCode </th>
                <th> Swipes </th>
                <th> Dinning Dollars </th>
                <th> Points </th>
                <th> Flex </th>
            </tr>
                <tr>
                <td>{{dict['schoolcode']}}
                <td>{{dict['swipes']}}</td>
                <td>{{ dict ['dinning_dollars']}}</td>
                <td>{{dict ['points']}}</td>
                <td>{{dict ['flex']}}</td>
                </tr>
        </table>
  </body>
</html>
