<html>
    <head>Create An Account on Budget Tracker!</head>
    <body>
    <form action="/budgetTracker/SignUp" method="put">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="uni">uni</label>
        <input type="text" name="uni" id="uni">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <label for="schoolcode">School Code</label>
        <input type="text" name="schoolcode" id="schoolcode">
        <input type="submit" value="Sign Up" onclick="window.location.href='/budgetTracker'">
        <button type="button" onclick="window.location.href='/budgetTracker'">Login</button>
    </form>
         

</html>
