<!DOCTYPE html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome {{ info['name'] }}! </h1>
  <p>Uni: {{ info['uni'] }} </p>
  <p>Username: {{ info['username'] }}</p>
  <p>Password: {{ info['password'] }}</p>
  <p>SchoolCode: {{ info['schoolcode'] }}</p>
  <p>Schoolname: {{ info['schoolname'] }}</p>
  <nav>
    <ul>
        <a href="/account_tracking.html"> Transaction History </a>
    </ul>
  </nav>
  <form style="display: inline-block;" action="/savings" method="post">
    <input type="submit" value="Savings Account" onclick="document.getElementById('savings').style.display='block'">
  </form>
  
  <div id="savings" style="display:none">
    
    <h2>Savings Account</h2>
      <table border="1">
        <tr>
          <th>Balance</th>
        </tr>
            <tr>
              <td>{{ info['balance'] }}</td>
            </tr>
      </table>
  </div>


  <form style="display: inline-block;" id="checkingsForm" action="/checkings" method="post">
    <input type="submit" value="Checkings Account" onclick ="document.getElementById('checkings').style.display='block'">
  </form>

  <div id="checkings" style="display:none">
    <h2>Checkings Account</h2>
      <table border="1">
          <tr>
              <th>Balance</th>
          </tr>
              <tr>
                  <td>{{ info['balance'] }}</td>
              </tr>
      </table>
  </div>

  <form style="display: inline-block;" id="dinningForm" action="/meal_plan" method="post">
    <input type="submit" value="Meal Plan" onclick="document.getElementById('meal_plan').style.display='block'">
  </form>

  <div id="meal_plan" style="display:none">
      <table border="1">
          <tr>
            <th>Swipes</th>
            <th>Dinning Dollars</th>
            <th>Points</th>
            <th>Flex</th>
          </tr>
            <tr>
            </tr>
      </table>
  </div>

</body>


</html>
