<!DOCTYPE html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body style="background-color:#87CEEB;">
  <h1>Welcome {{ info['name'] }}! </h1>
  <p>Uni: {{ info['uni'] }} </p>
  <p>Username: {{ info['username'] }}</p>
  <p>Password: {{ info['password'] }}</p>
  <p>SchoolCode: {{ info['schoolcode'] }}</p>
  <p>Schoolname: {{ info['schoolname'] }}</p>

  <a href="account_tracking.html"> Transaction History </a>
  

<button onclick="toggleSavings()">Show Savings Account</button>

<p id="savings" style="display:none">
    <strong>Savings Account Balance:</strong> {{ info['balance'] }}
</p>

<script>
    function toggleSavings() {
        var savingsElement = document.getElementById('savings');
        savingsElement.style.display = (savingsElement.style.display === 'none') ? 'block' : 'none';
    }
</script>

<button onclick="toggleCheckings()">Show Checkings Account</button>

<p id="checkings" style="display:none">
    <strong>Checkings Account Balance:</strong>{{ info['balance'] }} 
</p>

<script>
    function toggleCheckings() {
        var checkingsElement = document.getElementById('checkings');
        checkingsElement.style.display = (checkingsElement.style.display === 'none') ? 'block' : 'none';
    }
</script>

<button onclick="toggleMealPlan()">Show Meal Plan</button>

<p id="meal_plan" style="display:none">
  <strong>Swipes:</strong></br> {{ info['swipes'] }}
  <strong>Dining Dollars:</strong></br>  {{ info['dining_dollars'] }}
  <strong>Points:</strong></br>  {{ info['points'] }}
  <strong>Flex:</strong></br>  {{ info['flex'] }}
</p>

<script>
    function toggleMealPlan() {
        var mealPlanElement = document.getElementById('meal_plan');
        mealPlanElement.style.display = (mealPlanElement.style.display === 'none') ? 'block' : 'none';
    }
</script>


</body>
</html>
